*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

html {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-image: url("../media/background1.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-img {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: center;
    margin: 0;
    height: 100vh;
}

.img1 {
    background-image: url("../media/background1.png");
}

.img2 {
    background-image: url("../media/background2.png");
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 85vh 100vh 85vh;
    grid-template-areas:"banner banner banner"
                        "about about about"
                        "portfolio portfolio portfolio";
}

.flex-header {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    width: 80%;
    height: 10rem;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.flex-header #logo {
    height: 100%;
    width: auto;
}

.flex-header .social {
    flex: 1;
    text-align: center;
}

.flex-header .social img {
    padding: 2rem;
}
.flex-header .nav-bar {
    flex: 1;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    font-size: 1.2rem;
    padding: 1rem 1rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #EFC757;
}

.vertical-border {
    border-left: solid white 0.2rem;
}


.banner {
    text-align: center;
    grid-area: banner;
    align-self: flex-start;
}

#jamie {
    height: auto;
    width: 11rem;
    border-radius: 90px;
    margin: 3rem;
}

.intro {
    font-size: 2.5rem;
    margin: 2rem;
}

.banner-text {
    font-size: 4rem;
    font-weight: bold;
    border-top: 0.5rem #EFC757 solid;
    border-bottom: 0.5rem #EFC757 solid;
    width: 50rem;
    margin: 0 auto;
    padding: 2.5rem;
}

#about {
    font-size: 2rem;
    grid-area: about;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-me {
    flex: 1;
    text-align: center;
    padding: 3rem;
    border-right: white solid 0.2rem;
}

.skills {
    flex: 1;
    text-align: center;
    padding: 3rem;
}

.portfolio {
    font-size: 2.5rem;
    grid-area: portfolio;
    margin: 0 auto;
    width: 100%;
}

.footer {
    height: 15vh;
    
}